//Graphik LCG
@font-face { 
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG/GraphikLCG-Regular.eot");
    src: url("../fonts/GraphikLCG/GraphikLCG-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GraphikLCG/GraphikLCG-Regular.woff") format("woff"),
    url("../fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2"),
    url("../fonts/GraphikLCG/GraphikLCG-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG/GraphikLCG-Medium.eot");
    src: url("../fonts/GraphikLCG/GraphikLCG-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GraphikLCG/GraphikLCG-Medium.woff") format("woff"),
    url("../fonts/GraphikLCG/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG/GraphikLCG-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot");
    src: url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff") format("woff"),
    url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff2") format("woff2"),
    url("../fonts/GraphikLCG/GraphikLCG-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face { 
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG/GraphikLCG-Bold.eot");
    src: url("../fonts/GraphikLCG/GraphikLCG-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GraphikLCG/GraphikLCG-Bold.woff") format("woff"),
    url("../fonts/GraphikLCG/GraphikLCG-Bold.woff2") format("woff2"),
    url("../fonts/GraphikLCG/GraphikLCG-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

//Berlingske Serif
@font-face { 
    font-family: "Berlingske Serif";
    src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot");
    src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff") format("woff"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff2") format("woff2"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "Berlingske Serif";
    src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Blk.eot");
    src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Blk.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Blk.woff") format("woff"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Blk.woff2") format("woff2"),
    url("../fonts/BerlingskeSerif/BerlingskeSerif-Blk.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

//Segoe Script
@font-face { 
    font-family: "Segoe Script";
    src: url("../fonts/SegoeScript/SegoeScript.eot");
    src: url("../fonts/SegoeScript/SegoeScript.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeScript/SegoeScript.woff") format("woff"),
    url("../fonts/SegoeScript/SegoeScript.woff2") format("woff2"),
    url("../fonts/SegoeScript/SegoeScript.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Segoe Script";
    src: url("../fonts/SegoeScript/SegoeScript-Bold.eot");
    src: url("../fonts/SegoeScript/SegoeScript-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeScript/SegoeScript-Bold.woff") format("woff"),
    url("../fonts/SegoeScript/SegoeScript-Bold.woff2") format("woff2"),
    url("../fonts/SegoeScript/SegoeScript-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}