.advantage {
    padding-bottom: 76px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;

    font-family: 'Graphik LCG';

    border-bottom: 1px solid #828282;

    &:not(:first-child) {
        margin-top: 80px;
    }

    &__info {
        max-width: 488px;
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
    }
    &__descr {
        margin-top: 12px;

        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
    }
    &__btn {
        margin-top: 40px;
    }
    &__visual {
        width: 600px;
    }
}

@media screen and (max-width: 1275px) {
    .advantage {
        display: block;

        text-align: center;

        &__info {
            max-width: unset;
        }
        &__visual {
            margin: 40px auto 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .advantage {
        padding-bottom: 60px;

        &:not(:first-child) {
            margin-top: 60px;
        }

        &__title {
            font-size: 27px;
        }
        &__descr {
            font-size: 18px;
        }
        &__visual {
            display: none !important;
        }
    }
}
@media screen and (max-width: 576px) {
    .advantage {
        padding-bottom: 40px;

        &:not(:first-child) {
            margin-top: 40px;
        }

        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
        }
        &__btn {
            margin-top: 25px;
        }
    }
}