.business {
    margin-top: 120px;
    overflow: hidden;

    &__content {
        margin-top: 60px;

        position: relative;
    }
    &__a4 {
        margin-left: 240px;

        width: 592px;
        height: 828px;

        border: 22px solid #BDBDBD;
        border-radius: 4px;
    }
    &__advs {
        width: 312px;

        position: absolute;
        top: 63px;
        left: 0;

        display: flex;
        flex-direction: column;

        background-color: #fff;
        border: 10px solid #FFCF10;
    }
    &__adv {
        margin-top: 28px;
        margin-bottom: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        font-family: 'Berlingske Serif';
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        text-align: center;

        color: #000000;
    }
    &__form {
        position: absolute;
        top: 177px;
        right: 0;
    }
}

@media screen and (max-width: 1275px) {
    .business {
        padding-bottom: 375px;
        &__content {
            margin-top: 120px;
        }
        &__advs {
            top: -90px;

            width: 100%;

            flex-direction: row;
            justify-content: space-around;
        }
        &__a4 {
            display: block;
            margin: 0 auto;
        }
        &__form {
            top: 88%;
            right: 50%;
            transform: translateX(50%);
        }
    }
}
@media screen and (max-width: 992px) {
    .business {
        margin-top: 96px;
    }
}
@media screen and (max-width: 768px) {
    .business {
        padding-bottom: 405px;
        &__adv {
            font-size: 22px;
        }
        &__a4 {
            width: 80%;
            height: auto;
        }
    }
}
@media screen and (max-width: 576px) {
    .business {
        margin-top: 56px;

        padding-bottom: calc(-0.3781 * 100vw + 610px);

        &__content {
            margin-top: 470px;
        }
        &__advs {
            top: -440px;
            left: 50%;
            transform: translateX(-50%);

            width: 312px;
            max-width: 100%;

            flex-direction: column;

        }
        &__adv {
            margin-top: 12px;
            margin-bottom: 12px;

            font-size: 18px;

            gap: 6px;
        }
        &__a4 {
            width: calc(100% + 30px);
            max-width: unset;

            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

@media screen {
    
}