.contacts {
    margin-top: 140px;

    font-family: 'Graphik LCG';

    &__subtitle {
        margin-top: 16px;

        font-weight: 400;
        font-size: 24px;
        line-height: 140%;

        text-align: center;
    }
    &__content {
        margin-top: 60px;

        display: flex;
        justify-content: space-between;
    }
    &__grid {
        margin-top: 36px;

        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;

        text-align: center;
    }
    &__item {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;

        &-text {
            font-weight: 400;
        }
    }
}

#contacts__map {
    width: 695px;
    height: 374px;
}

@media screen and (max-width: 1275px) {
    .contacts {
        margin-top: 120px;
        &__form {
            display: none;
        }
        &__map {
            width: 100%;
        }
    }
    #contacts__map {
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .contacts {
        margin-top: 96px;

        &__content {
            margin-top: 40px;
        }
    }
    #contacts__map {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .contacts {
        &__subtitle {
            font-size: 20px;
        }
        &__content {
            margin-top: 30px;
        }
        &__grid {
            margin-top: 20px;
        }
    }
}