.contact-form {
    width: 448px;
    padding: 32px;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;

    font-family: 'Graphik LCG';
    color: #000000;
    text-align: center;
    
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }
    &__label {
        margin-top: 16px;
        padding-left: 8px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        text-align: left;
    }
    &__input {
        position: relative;

        display: block;
        margin-top: 6px;

        width: 100%;
        height: 52px;
        padding-left: 24px;
        padding-right: 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        background: #FFFFFF;
        border: 1px solid #828282;
        border-radius: 8px;
        outline: none;

        transition: all 0.5s;

        &:disabled {
            background: #dadada;
        }

        &.wrong {
            animation: shakeInput .5s ease-in-out 1;
            border-color: rgba(255, 0, 0, 0.6);

            @keyframes shakeInput {
                0% {
                    left: 0;
                }
                20% {
                    left: -5px;
                }
                40% {
                    left: 5px;
                }
                60% {
                    left: -5px;
                }
                80% {
                    left: 5px;
                }
                100% {
                    left: 0;
                }
            }
        }
    }
    &__submit {
        margin-top: 36px;
    }
    &__privacy {
        margin-top: 12px;

        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
    }
}

@media screen and (max-width: 576px) {
    .contact-form {
        max-width: 100%;
        padding: 32px 14px;

        &__input {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}