.footer {
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 40px;

    background: #000000;

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    &__name {
        margin-left: 38px;

        font-family: 'Graphik LCG';
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        color: #FFFFFF;
    }
    &__tel {
        margin-left: auto;

        font-family: 'Graphik LCG';
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;

        color: #FFFFFF;
        transition: all 0.5s;
        &:hover {
            color:rgb(255, 220, 81)
        }
    }
    &__btn {
        margin-left: 32px;

        width: 280px;
        height: 40px;

        background-color: transparent;
        border: 2px solid #FFCF10;
        border-radius: 8px;

        font-family: 'Graphik LCG';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        
        color: #F2F2F2;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .7s;
        &:hover {
            background-color: #FFCF10;
            border-color: transparent;
            color: #000;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        margin-top: 96px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        &__content {
            justify-content: space-between;
            row-gap: 15px;
        }
        &__name {
            margin-right: auto;
        }
        &__tel {
            margin-left: 0;
        }
        &__btn {
            margin-left: auto;
        }
    }
}
@media screen and (max-width: 576px) {
    .footer {
        margin-top: 56px;
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__tel, &__btn, &__name {
            margin: 0;
        }
        &__btn {
            max-width: 100%;
        }
    }
}