.header {
    display: flex;
    align-items: center;

    &__name {
        margin-left: 38px;

        font-family: 'Graphik LCG';
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        color: #FFFFFF;
    }
    &__tel {
        margin-left: auto;

        font-family: 'Graphik LCG';
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;

        color: #FFFFFF;
        transition: all 0.5s;
        &:hover {
            color:rgb(255, 220, 81)
        }
    }
    &__btn {
        margin-left: 32px;

        width: 280px;
        height: 40px;

        background-color: transparent;
        border: 2px solid #FFCF10;
        border-radius: 8px;

        font-family: 'Graphik LCG';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        
        color: #F2F2F2;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .7s;
        &:hover {
            background-color: #FFCF10;
            border-color: transparent;
            color: #000;
        }
    }
}

@media screen and (max-width: 1275px) {
    .header {
        &__name {
            margin-left: 30px;
        }
        &__tel {
            font-size: 22px;
        }
        &__btn {
            width: 250px;
        }
    }
}
@media screen and (max-width: 992px) {
    .header {
        &__btn {
            position: relative;

            width: 40px;
            height: 40px;

            font-size: 0;
            line-height: 0px;
            background: #FFCF10;

            &:after {
                position: absolute;
                content: url('../images/header/phone.svg');

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                transition: all 0.5s;
            }

            &:hover {
                background: rgb(255, 255, 255);
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        &__name {
            display: none;
        }
    }
}
@media screen and (max-width: 576px) {
    .header {
        &__tel {
            display: none;
        }
        &__btn {
            margin-left: auto;
        }
    }
}