.keys {
    padding-top: 30px;

    position: relative;

    &__text {
        position: absolute;
        top: -8px;
        left: 0;
    }
    &__hysto {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }
    &__column {
        position: relative;
        width: 56px;
        @for $i from 1 to 10 {
            &:nth-child(#{$i}) {
                height: #{20 * $i - 1}px;
            }
        }

        background: rgba(255, 207, 16, 0.2);
        transition: all .5s;

        &:hover, &:first-child, &:last-child {
            background: rgb(255, 207, 16);
        }
        &:before {
            position: absolute;
            top: -25px;
            left: 50%;

            font-family: 'Graphik LCG';
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;

            transform: translateX(-50%);
        }
        &:first-child {
            &:before {
                content: 'Сейчас'
            }
        }
        &:last-child {
            &:before {
                content: 'Цель'
            }
        }
    }
    &__circle {
        margin-top: 3px;
        position: relative;

        width: 570px;
        height: 20px;

        background-color: #FFCF10;
        border-radius: 100%;
        &:after {
            position: absolute;
            content:'';
            top: -3px;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #fff;
            border-radius: 100%;
        }
    }
    &__legend {
        margin: 12px auto 0;
        width: 350px;

        font-family: 'Segoe Script';
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;

        text-align: center;
        letter-spacing: -0.03em;
    }
}