.plan {
    font-family: 'Segoe Script';

    line-height: 140%;
    letter-spacing: -0.03em;

    &__title {
        position: relative;
        display: inline-block;

        font-weight: 700;
        font-size: 27px;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;

            width: 115%;
            height: 100%;

            background-color: #FFF5CD;
            z-index: -1;
            transform: translateX(-50%) rotateZ(-3deg);
        }
    }

    &__dia {
        margin-top: 19px;

        font-weight: 400;
        font-size: 24px;
        text-align: left;

        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    &__start {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: 105%;
            top:50%;
            transform: translateY(-50%);

            width: 85px;
            height: 3px;

            background-color: #FFCF10;
        }
    }
    &__end {
        padding-left: 100px;

        border-left: 3px solid #FFCF10;
    }
    &__item {
        position: relative;

        display: flex;
        align-items: center;
        gap: 12px;

        &--end {
            &:first-child {
                top: -22px;
            }
            &:last-child {
                bottom: -22px;
            }
            &:before {
                position: absolute;
                content: '';
                left: -103px;
                top: 50%;
                transform: translateY(-50%);

                width: 90px;
                height: 3px;

                background-color: #FFCF10;
            }
            &:after {
                position: absolute;
                content: '';
                left: -23px;
                top: 50%;
                transform: translateY(-50%);

                width: 0;
                height: 0;

                border-style: solid;
                border-width: 8.5px 0 8.5px 15px;
                border-color: transparent transparent transparent #ffcf10;
            }
        }


    }
}

@media screen and (max-width: 1275px) {
    .plan {
        &__dia {
            margin-top: 38px;
        }
    }
}