.steps {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid #BDBDBD;

    &__item {
        padding-bottom: 23px;
        position: relative;

        text-align: center;

        &:after {
            position: absolute;
            content: '';
            bottom: -10px;
            left: calc(50% - 1px);

            height: 8px;
            width: 2px;
            background-color: #BDBDBD;
        }
        
        &:first-child {
            text-align: left;

            &:after {
                left: 0;
            }
        }
        &:last-child {
            text-align: right;

            &:after {
                left: calc(100% - 2px);
            }
        }
    }
    &__img {
        padding: 12px;

        background: #FFCF10;
        border-radius: 100%;
    }
    &__title {
        margin-top: 20px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }
    &__days {
        width: 100%;
        position: absolute;

        top: calc(100% + 12px);
    }
}