@import 'base/reset';
@import 'base/vars';
@import 'base/mixins';
@import 'base/fonts';

// base settings
img {
    max-width: 100%;
    height: auto;
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}
// end of base settings

.container {
    max-width: 1245px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/info';
@import 'blocks/business';
@import 'blocks/contact-form';
@import 'blocks/franchise';
@import 'blocks/advantage';
@import 'blocks/advantages';
@import 'blocks/steps';
@import 'blocks/worldskills';
@import 'blocks/keys';
@import 'blocks/docs';
@import 'blocks/plan';
@import 'blocks/partner';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/modal';

@media screen and (max-width: 1275px) {
    .container {
        max-width: 972px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 738px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 546px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}